/* © CIRCULAR AGENCY */
/* General */

body {
  font-family: "Acer Foco", "Trebuchet MS", Arial, sans-serif;
  font-size: 1rem;
  color: #666;
  margin: 0;
}

img {
  width: 100%;
}

/* Typography */

.conceptd h2 {
  font-size: 1.9215rem;
  font-size: calc(1.48429vw + 1.10514rem);
  text-align: center;
}

.conceptd h3 {
  font-size: 1.5995rem;
  font-size: calc(1.01vw + 1.044rem);
  text-align: center;
  margin: .5rem 0;
}

.conceptd .text-primary-orange {
  color: rgb(220, 88, 42);
}

.conceptd p {
  font-size: 1.117rem;
  font-size: calc(0.38vw + 0.908rem);
  margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
    line-height: 1.5;
}

.conceptd .col-full p {
  font-size: 1.117rem;
  font-size: calc(0.38vw + 0.908rem);
  margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
    line-height: 1.4;
}

@media only screen and (min-width:768px) {

.conceptd h2 {
  font-size: 1.9215rem;
  font-size: calc(1.48429vw + 1.10514rem);
  text-align: center;
}

.conceptd h3 {
  font-size: 24px;
  text-align: center;
  margin: .5rem 0;
}

.conceptd .text-primary-orange {
  color: rgb(220, 88, 42);
}

.conceptd p {
  font-size: 14px;
  margin-bottom: 1.2rem;
    margin-top: 1rem;
    text-align: center;
    line-height: 1.5;
}

.conceptd .col-full p {
  font-size: 1.3rem;
  margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
    line-height: 1.4;
}

}

/* Layout */

.conceptd {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.conceptd .container {
  width: 100%;
}

.conceptd .row.full-width {
  display: flex;
  flex-direction: column;
  width: 100%;
height: auto;
text-align: center;
margin: 0;
padding: 0;
}

.conceptd .row.contained {
  display: flex;
  flex-direction: column;
  width: auto;
height: auto;
text-align: center;
margin: 0;
padding: 0 24px 48px;
}

.conceptd .row.contained.reverse {
  display: flex;
  flex-direction: column-reverse;
  width: auto;
height: auto;
text-align: center;
margin: 0;
padding: 24px;
}

.conceptd .row.filled {
  background-color: #f5f5f5;
  width: calc(100% - 48px);
  margin: 10px 0;
  padding: 24px;
}

.conceptd .col-full.text{
  width: calc(100% - 48px);
  margin: 0 auto;
  padding: 48px 24px 0;
}

.conceptd .col-full.image{
  width: 100%;
  margin: 0 auto;
  padding: 24px 0 48px;
}

.conceptd .col-1-2.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.5rem 0;
}

.conceptd .col-1-2.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.conceptd .media {
  padding: 0;
}

.conceptd .media::before {
  content: '';
  padding-top: 100%;
}

@media only screen and (min-width:768px) {

.conceptd {
  max-width: 1170px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 10px;
}

.conceptd .row.full-width {
  display: flex;
  flex-direction: column;
  width: auto;
height: auto;
text-align: center;
margin: 0;
padding: 0 24px;
}

.conceptd .row.contained,
.conceptd .row.contained.reverse {
  display: flex;
  flex-direction: row;
  width: auto;
height: auto;
text-align: center;
margin: 0;
padding: 24px;
}

.conceptd .row.filled {
  background-color: #f5f5f5;
  width: auto;
  margin: 24px;
  padding: 1.5rem;
}

.conceptd .col-full.text{
  width: 100%;
  margin: 0 auto;
  padding: 48px 0 24px;
}

.conceptd .col-full.image{
  width: 100%;
  margin: 0 auto;
  padding: 24px 0 48px;
}

.conceptd .col-1-2.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 1.5rem 1rem;
}

.conceptd .col-1-2.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 0;
}

.conceptd .media {
  padding: 0;
}

.conceptd .media::before {
  content: '';
  padding-top: 100%;
}

}

@media only screen and (min-width:1024px) {

.conceptd {
  max-width: 1170px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 10px;
}

.conceptd .row.contained,
.conceptd .row.contained.reverse {
  display: flex;
  flex-direction: row;
  width: calc(100% - 96px);
height: auto;
text-align: center;
margin: 0;
padding: 48px;
}

.conceptd .col-full.text{
  width: 100%;
  margin: 0 auto;
  padding: 48px 0 24px;
}

.conceptd .col-full.image{
  width: 100%;
  margin: 0 auto;
  padding: 24px 0 48px;
}

.conceptd .col-full h2,
.conceptd .col-full p {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1rem;
    margin-top: 1rem;
}

.conceptd .col-1-2.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 1.5rem 3rem;
}

.conceptd .col-1-2.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 0;
}

}

@media only screen and (max-width: 1304px) and (min-width: 768px) {
  .conceptd .row.full-width {
    display: flex;
    flex-direction: column;
    width: calc(100% - 48px);
  height: auto;
  text-align: center;
  margin: 0;
  padding: 0 24px;
  }

  .conceptd .row.filled {
    background-color: #f5f5f5;
    width: auto;
    margin: 24px 0;
    padding: 1.5rem;
  }
}

@media only screen and (min-width: 1304px) {
  .conceptd .row.full-width {
    display: flex;
    flex-direction: column;
    width: 100%;
  height: auto;
  text-align: center;
  margin: 0;
  padding: 0;
  }

  .conceptd .row.filled {
    background-color: #f5f5f5;
    width: auto;
    margin: 24px 0;
    padding: 1.5rem;
  }
}

.conceptd .button {
  background-color: #eeeeee;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    display: inline-block;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1;
    outline: 0;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    text-decoration: none;
    margin: 1rem 0;
}

.conceptd .button.emptyOrange {
  border: 2px solid rgb(220, 88, 42);
background: transparent;
color: rgb(220, 88, 42);
}

.conceptd .button.emptyOrange:hover {
background: rgb(220, 88, 42);
color: #ffffff;
}

@media only screen and (min-width:768px) {

.conceptd .button {
  background-color: #eeeeee;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    display: inline-block;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1;
    outline: 0;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    text-decoration: none;
    margin: 1rem 0;
}

.conceptd .button.emptyOrange {
  border: 2px solid rgb(220, 88, 42);
background: transparent;
color: rgb(220, 88, 42);
}

.conceptd .button.emptyOrange:hover {
background: rgb(220, 88, 42);
color: #ffffff;
}

}
